$main-color: #2086e8;
$primary-color: #36af24;
$text-color: #8e8e8e;      /*объявили цвета*/

body{
    margin:0;
}

@mixin flexAlign($hor:center, $vert:center) {  // собрали в одну команду распределение на странице $hor и $vert это значения 
    display: flex;
    align-items: $vert;         //Задали параметры которые будем определять в классах
    justify-content: $hor;
}

.header{
    width: 100%;
    height: 68px;
    padding: 0 150px;    //для построения адаптивной картинки нужно работать с этим размером
    box-sizing: border-box;
    @include flexAlign (space-between); // изменили параметр по умолчанию

   @media screen and (max-width: 980px)     
    {             
       padding: 0 15px;
     flex-direction: row-reverse; // меняет местами левую часть с правой
     display: flex;
  }

    &__links{                   // амперсант заменяет родительский класс header
        display: flex;
        align-items: center;
        @media screen and (max-width: 640px) { // записываем свойства для других размеров меньших 
            display:none;
            
        }

        &-item{                 // в этом случае амперсант заменяет класс header__links__
            margin-right: 12px;
            text-decoration: none;
            color: $text-color;
            padding: 10px 14px;
            border-radius: 4px;
            border: 1px solid transparent;
            box-sizing: border-box;
            transition: 0.2s;
            cursor: pointer;
            &:hover{                        //Поведение ссылок при наведении И амперсант означает что это относится к родительскому классу
                border: 1px solid $main-color;
                background: linear-gradient(to top, $main-color, #88d4ff );      // создание градиента to top-это значит снизу вверх, указываем цвет снизу, указываем цвет сверху 
                color: white;
            }
        }
    }
 &__logo{
            @media screen and (max-width:640px)
            {
                padding-left: 15px;    
            }

        }

    &__button{
        cursor: pointer;
        height: 45px;
        width: 45px;
        border: 2px solid $text-color;
        box-sizing: border-box;
        border-radius: 5px;
        @include flexAlign;
        display: none;

        @media screen and (max-width: 640px){
            display: flex;
          
        }
       
        &-line{
            width: 30px;
            height: 2px;
            background: $text-color;
            position: relative;

            &::after{               //создаем еще одну линию после, такую же как и осносная 
                content: "";
                width: 30px;
                height: 2px;
                background: $text-color;
                position: absolute;
                left:0;
                top:7px;
            }
            &::before{               //создаем еще одну линию до такую ж е как основная
                content: "";
                width: 30px;
                height: 2px;
                background: $text-color;
                position: absolute;
                left:0;
                bottom:7px;
            }

        }
    }
}
.banner{
    width: 100%;
    height: 530px;
    background-image: url(../images/Banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include flexAlign;
    flex-direction: column;
    color: white;
    position: relative;                 // эту команду надо писать в родительском блоке

    &__title{
        text-transform: uppercase;          // все буквы большие
        font-size: 48px;
        margin-bottom: 16px;
        text-align: center;

        &_big{                 // модификатор пишется &_
            font-weight: bold;
            font-size: 52px;
        }

        @media screen and (max-width: 690px) {
            font-size: 36px;
            
        }
    }

    &__button{
        outline: none;              // отключает синюю обводку кнопки, включенную поумолчанию
        width: 270px;
        height: 57px;
        box-sizing: border-box;
        border:none;
        border-top: 1px solid #6feb55;
        border-radius: 3px;
        background: linear-gradient(to top, $primary-color, #6dd258);
        color: white;
        font-weight: bold;
        font-size: 34px;
        text-shadow: 1px 1px 1px rgba($color: black , $alpha: 0.4);
        box-shadow: 0 0 0 6px rgba($color: black , $alpha: 0.1);
        margin-top: 30px;

    }
    .slider{
        width: 480px;
        height: 245px;
        background-color: white;
        box-sizing: border-box;
        border-bottom: 7px solid $primary-color;
        border-radius: 4px;
        box-shadow: 0 0 10px 0 rgba($color: black , $alpha: 0.4);
        position: absolute;     // перенос блока на новый слой
        left:calc(50%-240px);
        bottom: -150px;
        color: #868686;
        padding: 24px 28px 21px 28px;
        box-sizing: border-box;
        @include flexAlign( );
        flex-direction: column;

        @media screen and (max-width: 590px) {
            width: 300px; 
            height: 320px;
            bottom: -220px;
            padding: 18px 28px 21px 28px;
            //left: 10px;
        }
        
            &__title{
                font-size: 22px;
                margin-bottom: 26px;
                @media screen and(max-width: 590px) 
                {
                margin: 70px 0 10px 0;
                font-size: 15px;   
                }
            }
            &__container{
               
                width:100%;
                height: 100%;
                @include flexAlign(flex-start, flex-start);
                flex-wrap: wrap; //разрешает перенос внутри блока
                @media screen  and (max-width:590px) 
                {
                margin-bottom: 40px;    
                }
                

                &-item{
                
                    flex-direction: column;
                    @include flexAlign(space-between, flex-start);
                    height: 66px;
                    font-size: 14px;
              
                }

            }
            
        
    }
}

.services{
    width: 100%;
    color:$text-color;
    flex-direction: column;
    @include flexAlign( );
    padding-top:210px;
    background-color: #ececec;
    padding-bottom: 75px;
    @media screen and(max-width:590px)
    {
        padding-top: 230px;
        
    }
    
    &__title{
        font-size: 26px;
        margin-bottom: 16px;
        text-align: center;

        &_small{
            font-size: 22px;
        }
    }

    .items{
        width: 760px;
        @include flexAlign(space-between);
        margin-top: 50px;
        @media screen and(max-width:780px)
         {
             width: 100%;
             
        }
        @media screen and (max-width: 559px) {
            flex-direction: column;
        }
        

        .card{
            flex-direction: column;
            @include flexAlign;
            font-size:  20px;
            border: 1px solid red;

            &__circle{
                background: white;
                border-radius: 50%;
                width: 133px;
                height: 133px;
                flex-direction: column;
                @include flexAlign;
                margin-bottom: 19px;
            }
        }

    }
    .footer{
        width: 100%;
        height: 32px;
        color: white;
        background-color: #414141;
        @include flexAlign;
        font-size: 13px;
    }
}

